name: CMake + GoogleTest CI

on:
  push:
    branches: [ "main", "lab" ]
  pull_request:
    branches: [ "main", "lab" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake g++

      - name: Configure CMake
        run: |
          cmake -S . -B build

      - name: Build
        run: |
          cmake --build build

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure

